html,
body {
  height: 100%;
  font-size: 100px;
}

@font-face {
  font-family: SourceHanSansCN-bold;
  src: url("../font/SourceHanSansSC-Bold.otf");
}

@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url("../font/SourceHanSansSC-Regular.otf");
}

.bg_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg_wrapper .img_wrapper {
  width: 100%;
  height: 100%;
}

.bg_wrapper .title_wrapper {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0.25rem;
  left: 0.30rem;
}

.bg_wrapper .title_wrapper .photo_wrapper {
  width: 0.56rem;
  height: 0.56rem;
  background: white;
  border-radius: 50%;
  margin-right: 0.13rem;
  float: left;
  vertical-align: top;
  position: relative;
}

.bg_wrapper .title_wrapper .photo_wrapper .c_people {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0.03rem;
  left: 0.03rem;
  overflow: hidden;
}

.bg_wrapper .title_wrapper .photo_wrapper .c_people .people {
  position: absolute;
  top: 0;
  left: 0;
}

.bg_wrapper .title_wrapper .photo_wrapper .c_people .people[src=''] {
  visibility: hidden;
}

.bg_wrapper .title_wrapper .text_wrapper {
  height: 0.45rem;
  vertical-align: top;
  float: left;
  padding-top: 0.03rem;
  font-size: 0.18rem;
}

.bg_wrapper .title_wrapper .text_wrapper .comText {
  color: #302118;
  font-family: SourceHanSansCN-Regular;
}

.bg_wrapper .title_wrapper .text_wrapper .myIs {
  margin-bottom: 0.07rem;
}

.bg_wrapper .title_wrapper .text_wrapper .myIs .c_name {
  color: #302118;
  font-family: SourceHanSansCN-bold;
  font-weight: 900;
}
